<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
    <arg name="gz" default="true"/>

    <!-- Launch Gazebo with underwater world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gz)" />
        <arg name="paused" value="false"/>
        <arg name="world_name" value="$(find usv_sim)/world/underwater.world"/>
    </include>

    <!-- spawn robot -->
    <include file="$(find usv_sim)/launch/spawn_boat.launch"/>
    
    <!-- spawn terrain -->
    <param name="terrain_description" command="$(find xacro)/xacro $(find usv_sim)/terrain/shipwreck/terrain.sdf"/>
    <node name="terrain_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model terrain -param terrain_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>
       
</launch>
