<?xml version="1.0"?>
<launch>

	<arg name="gui" default="false"/>
	<arg name="parse" default="false"/>
	<!-- spawn world -->
	<include file="$(find usv_sim)/launch/world/spawn_diluvio.launch"  unless="$(arg parse)" />
	
	
	
	
	
	
	
	<!-- spawn robot -->
	<group>
		<arg name="namespace" default="boat_sea_angler"/>  
		<arg name="posX" default="0"/>
    	<arg name="posY" default="2"/>
    	<arg name="posZ" default="0"/>
		<include file="$(find usv_sim)/launch/models/spawn_sea_angler.launch" pass_all_args="true" />
	</group>

<!--
	<node name="usv_water_current" pkg="usv_water_current" type="parser.py"  unless="$(arg parse)" args="$(find usv_water_current)/maps/diluvio.yaml" />	
	<node name="usv_water_current" pkg="usv_water_current" type="parserTiff.py"  unless="$(arg parse)" args="$(find usv_water_current)/maps/river.yaml" />
-->

	<!-- parse launch file -->
	<group if="$(arg parse)">
		<node name="scene_to_spawner" pkg="freefloating_gazebo" type="uwsim_scene_to_gazebo_spawner.py" args="$(find usv_sim)/launch/boat_sea_angler.launch" output="screen" required="true"/>
	</group>
        <!-- spawn uwsim -->
	<group unless="$(arg parse)">
		<arg name="disableShaders" default="false"/>
		<!-- launch uwsim -->
		<node name="uwsim" pkg="uwsim" type="uwsim" args="$(arg disableShaders) --dataPath $(find usv_sim) --configfile scenes/boat_sea_angler.xml" respawn="true"/>

	</group>

</launch>
