<?xml version="1.0"?>
<launch>

    <arg name="parse" default="false"/>
    <!-- spawn world -->
    <include file="$(find usv_sim)/launch/world/spawn_world.launch"  unless="$(arg parse)" />
    <!-- spawn robot -->
    <include file="$(find usv_sim)/launch/models/diff_robots.launch"  unless="$(arg parse)" />
    <!-- start rviz -->
    <include file="$(find usv_sim_rviz)/launch/navigation_rviz.launch"  unless="$(arg parse)" />

    <!-- parse launch file -->
    <group if="$(arg parse)">
	<node name="scene_to_spawner" pkg="freefloating_gazebo" type="uwsim_scene_to_gazebo_spawner.py" args="$(find usv_sim)/launch/robots_start_world.launch" output="screen" required="true"/>
    </group>
    <group unless="$(arg parse)">
	<arg name="disableShaders" default="false"/>
	<!-- launch uwsim -->
	<node name="uwsim" pkg="uwsim" type="uwsim" args="$(arg disableShaders) --dataPath $(find usv_sim) --configfile scenes/robots_start_world.xml" respawn="true"/>
    </group>
    

</launch>
