[submodule "src/uwsim_resources/uwsim_osgocean"]
	path = src/uwsim_resources/uwsim_osgocean
	url = https://github.com/disaster-robotics-proalertas/uwsim_osgocean.git
[submodule "src/uwsim_resources/uwsim_osgworks"]
	path = src/uwsim_resources/uwsim_osgworks
	url = https://github.com/disaster-robotics-proalertas/uwsim_osgworks.git
[submodule "src/uwsim_resources/uwsim_bullet"]
	path = src/uwsim_resources/uwsim_bullet
	url = https://github.com/disaster-robotics-proalertas/uwsim_bullet.git
[submodule "src/uwsim_resources/uwsim_osgbullet"]
	path = src/uwsim_resources/uwsim_osgbullet
	url = https://github.com/disaster-robotics-proalertas/uwsim_osgbullet.git
[submodule "src/uwsim_resources/visualization_osg"]
	path = src/uwsim_resources/visualization_osg
	url = https://github.com/disaster-robotics-proalertas/visualization_osg.git
