<?xml version="1.0"?>

<robot name="airboat" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="windType" default="global" />
    <xacro:arg name="waterType" default="global" />
    <xacro:property name="windType" value="$(arg windType)" />
    <xacro:property name="waterType" value="$(arg waterType)" />
    <xacro:property name="dampingXYZ" value="1.16 10 10" />
    <xacro:property name="angularDampingXYZ" value="0.5 15 2" />                      
    <xacro:include filename="$(find usv_sim)/xacro/boat_subdivided_validation.xacro" />

    <!-- Plugin list -->
    <gazebo>
        <plugin name="freefloating_gazebo_control" filename="libfreefloating_gazebo_control.so">
            <switchService>switch</switchService>
            <updateRate>100</updateRate>
            <link>fwd</link>
            <thruster>
                <effortUnderWater>0</effortUnderWater>
				<effortOverWater>4.12</effortOverWater>
                <name>fwd</name>
            </thruster>
        </plugin>
    </gazebo>  
                
    <!-- Define one steering thruster, with assumed force control in Z-direction -->
    <xacro:airthruster_link name="fwd" xyz="-0.3 0.12 0.2" rpy="0 ${-PI/2} 0" effort="100" velocity="20" rotationAxis="1 0 0" lowerLimit="${-PI/2}" upperLimit="0.5"/>
    
            
</robot>
