<?xml version="1.0"?>

<robot name="diffboat" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="windType" default="global" />
    <xacro:arg name="waterType" default="global" />
    <xacro:property name="windType" value="$(arg windType)" />
    <xacro:property name="waterType" value="$(arg waterType)" />
    <xacro:property name="dampingXYZ" value="1.88 10 6.66" />
    <xacro:property name="angularDampingXYZ" value="2 15 2" />
    <xacro:property name="extraPayload" value="3" />   
    <xacro:include filename="$(find usv_sim)/xacro/boat_subdivided_validated.xacro" />

    <!-- Plugin list -->
    <gazebo>
        <plugin name="freefloating_gazebo_control" filename="libfreefloating_gazebo_control.so">
            <switchService>switch</switchService>
            <updateRate>100</updateRate>
            <link>fwd_left</link>
            <thruster>
				<effortUnderWater>11.5</effortUnderWater>
				<effortOverWater>0</effortOverWater>
                <name>fwd_left</name>
            </thruster>
   	    <thruster>
	        <effortUnderWater>11.5</effortUnderWater>
				<effortOverWater>0</effortOverWater>
	        <name>fwd_right</name>
	    </thruster>    
        </plugin>
    </gazebo>  

    <!-- Define two steering thrusters, with assumed force control in Z-direction -->
    
    <xacro:thruster_link name="fwd_left"  xyz="-0.3 0 -0.1" rpy="0 ${-PI/2-0.26} 0" rotationAxis="1 0 0" lowerLimit="0" upperLimit="0" parentLink="back_l_link"/>
    <xacro:thruster_link name="fwd_right" xyz="-0.3 0 -0.1" rpy="0 ${-PI/2-0.26} 0" rotationAxis="1 0 0" lowerLimit="0" upperLimit="0" parentLink="back_r_link"/>
       
</robot>
