<?xml version="1.0"?>
<launch>

	<arg name="gui" default="false"/>
	<arg name="parse" default="false"/>
    <arg name="usvType" default="airboat"/>
    <arg name="scenario" default="scenario1"/>

    <!-- spawn uwsim -->
	<group unless="$(arg parse)">
		<arg name="disableShaders" default="false"/>
        <arg name="namespace" value="$(arg usvType)"/>  
        <arg name="spawnGazebo" default="true"/>

        <!-- Launch Gazebo with empty world -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="use_sim_time" value="true" />
            <arg name="debug" value="false" />
            <arg name="gui" value="true" />
            <arg name="paused" value="true"/>
            <arg name="verbose" value="true"/>
            <arg name="world_name" value="$(find usv_sim)/world/empty.world"/>
        </include>

		<!-- launch uwsim -->
		<node name="uwsim" pkg="uwsim" type="uwsim" args="$(arg disableShaders) --dataPath $(find usv_sim) --configfile ./scenes/airboat_scenario1.xml'" respawn="false" required="true"/>
		
		

		<!-- using parser  -->
		<include file="$(find usv_sim)/launch/runscenario_spawner.launch"/>

		<include file="$(find usv_sim)/launch/models/spawn_$(arg usvType).launch">
            <arg name="gui" value="$(arg gui)"/>
            <arg name="spawnGazebo" value="$(arg spawnGazebo)"/>
            <arg name="namespace" value="$(arg usvType)"/>
        </include>
	</group>

	<!-- parse launch file -->
	<group if="$(arg parse)">
		<node name="scene_to_spawner" pkg="freefloating_gazebo" type="uwsim_scene_to_gazebo_spawner.py" args="$(find usv_sim)/launch/runscenario.launch" output="screen" required="true"/>
	</group>

</launch>
