<?xml version="1.0"?>
<launch>

	<arg name="gui" default="false"/>
	<arg name="parse" default="false"/>   
	<arg name="namespace" default="sailboat"/>  
	<arg name="posX" default="0"/>
	<arg name="posY" default="0"/>
	<arg name="posZ" default="0"/>
    <arg name="spawnGazebo" default="false"/>
    <arg name="windType" default="global"/>
    <arg name="waterType" default="global"/>
        
         
    	<!-- spawn in Gazebo with GUI -->
    	
	<group ns="$(arg namespace)" unless="$(arg parse)" >
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find usv_sim)/xacro/sailboat.xacro windType:=$(arg windType) waterType:=$(arg waterType)"/>
		<node unless="$(arg spawnGazebo)" name="spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model sailboat -param robot_description -x $(arg posX) -y $(arg posY) -z $(arg posZ) -R 0 -P 0 -Y 0"/>

		<rosparam file="$(find usv_sim)/config/sailboat.yaml" command="load"/>

		<node name="pid_control" pkg="freefloating_gazebo" type="pid_control" output="screen" respawn="true"/>
        <node name="heading_control" pkg="usv_base_ctrl" type="sailboat_control_heading.py" unless="$(arg gui)" output="screen"/>

		<node name="odom_relay" type="relay" pkg="topic_tools" args="state /odom" />

		<!-- GUI interface to control joints -->
			<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true" if="$(arg gui)">
				<param name="use_gui" value="True"/>
				<remap from="joint_states" to="joint_setpoint" />        
			</node>
			<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" if="$(arg gui)"/>             

    	</group>
</launch>
