<?xml version="1.0"?>
<launch>

<group ns="diff1">
    <param name="tf_prefix" value="diff1_tf" />
    <param name="robot_description" textfile="$(find usv_sim)/urdf/boat_diff.urdf" />
</group>
<include file="$(find usv_sim)/launch/models/diff_one_robot.launch" >
    <arg name="init_pose_x" value="0" />
    <arg name="init_pose_y" value="1" />
    <arg name="init_pose_a" value="0" />
    <arg name="robot_name" value="diff1" />
</include>

<group ns="diff2">
    <param name="tf_prefix" value="diff2_tf" />
</group>
<include file="$(find usv_sim)/launch/models/diff_one_robot.launch" >
    <arg name="init_pose_x" value="0" />
    <arg name="init_pose_y" value="-1" />
    <arg name="init_pose_a" value="0" />
    <arg name="robot_name" value="diff2" />
</include>

<group ns="diff3">
    <param name="tf_prefix" value="diff3_tf" />
</group>
<include file="$(find usv_sim)/launch/models/diff_one_robot.launch" >
    <arg name="init_pose_x" value="-3" />
    <arg name="init_pose_y" value="0" />
    <arg name="init_pose_a" value="0" />
    <arg name="robot_name" value="diff3" />
</include>

<group ns="rudder1">
    <param name="tf_prefix" value="rudder1_tf" />
</group>
<include file="$(find usv_sim)/launch/models/rudder_one_robot.launch" >
    <arg name="init_pose_x" value="3" />
    <arg name="init_pose_y" value="0" />
    <arg name="init_pose_a" value="0" />
    <arg name="robot_name" value="rudder1" />
</include>

</launch>
