<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true" />

    <!-- Launch Gazebo with underwater world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true" />
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="true"/>
        <arg name="world_name" value="$(find usv_sim)/world/scenarioA.world"/>
    </include>

    <!-- spawn terrain -->
    <param name="terrain_description" command="$(find xacro)/xacro $(find usv_sim)/terrain/shipwreck/terrain.sdf"/>
    <node name="terrain_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model terrain -param terrain_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>

</launch>
