<?xml version="1.0"?>
<robot name="body">
    
  <joint name="x">
    <limit lower="-17" upper="23"/>
  </joint>
  <joint name="y">
    <limit lower="-13.5" upper="26.6"/>
  </joint>
  <joint name="z">
    <limit lower="-20.0" upper="0.0"/>
  </joint>
  <joint name="pitch">
    <limit lower="-3.14" upper="3.14"/>
  </joint>
  <joint name="yaw">
    <limit lower="-3.14" upper="3.14"/>
  </joint>  
</robot>
