<?xml version="1.0"?>
<robot name="thrusters">
  <joint name="fwd_left">
    <limit lower="-30" upper="30"/>
  </joint>
  <joint name="fwd_right">
    <limit lower="-30.0" upper="30.0"/>
  </joint>
  <joint name="thr2">
    <limit lower="-30.0" upper="30.0"/>
  </joint>
  <joint name="thr3">
    <limit lower="-30.0" upper="30.0"/>
  </joint>
  <joint name="thr4">
    <limit lower="-30.0" upper="30.0"/>
  </joint>  
</robot>
