<?xml version="1.0"?>

<robot name="boat_diff" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find usv_sim)/xacro/boat_sea_angler_subdivided2.xacro" />

    <!-- Plugin list -->
    <gazebo>
        <plugin name="freefloating_gazebo_control" filename="libfreefloating_gazebo_control.so">
            <switchService>switch</switchService>
            <updateRate>100</updateRate>
            <link>fwd</link>
            <thruster>
                <effort>300</effort>
                <name>fwd</name>
            </thruster>
        </plugin>
    </gazebo>  

    <!-- Define two steering thrusters, with assumed force control in Z-direction -->
    <xacro:thruster_link name="fwd" xyz="-1.2 0.22 -0.50" rpy="0 ${-PI/2} 0" rotationAxis="1 0 0" lowerLimit="-${PI/2}" upperLimit="${PI/2}" effort="500"/>

    

</robot>
